{% extends "base.html" %}

{% block start %}
    
<nav class="navbar navbar-expand-lg  bg-info text-dark" >
    <div class="container-fluid "  style="height: 100px;">
      <a class="navbar-brand" href="#"><b>Kake Da Dhaba</b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"><b>Home</b> </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><b>Menu</b> </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><b>Contact Us</b> </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>



<div class="container mt-5">
    <form class="col-6 mx-auto card p-3 shadow-lg", method="post", enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Add a Recipe</h2>
        <hr>

        <div class="mb-3">
          <label for="exampleInputEmail1"  class="form-label">Recipe Name</label>
          <input name="recipe_name" required type="text" class="form-control">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1"  class="form-label">Recipe description</label>
          <textarea name="recipe_desc" required class="form-control"></textarea>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Recipe Image</label>
            <input name="recipe_img" type="file" class="form-control">
          </div>
        <button type="submit" class="btn btn-success">Add Recipe</button>
      </form>
      <hr>
      <div class="mt-5">
        <div class="mx-auto col-6">
            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1"  class="form-label">Search Food</label>
                    <input name="search" type="text" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary  mb-3">Search</button>
            </form>
            
        </div>
        
      </div>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">S.No</th>
            <th scope="col">Recipe Name</th>
            <th scope="col">Description</th>
            <th scope="col">Image</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for recipe in recipes %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{recipe.recipe_name}}</td>
            <td>{{recipe.recipe_desc}}</td>
            <td>
                <img src="/media/{{recipe.recipe_img}}" style="height:80px; width:80px "> </td>
            <td>
                <a href="/delete_recipe/{{recipe.id}}/" class="btn btn-danger mb-2 mt-2">Delete</a>
                <a href="/update_recipe/{{recipe.id}}/" class="btn btn-success">Update</a>
            
            </td>   
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>
    
{% endblock %}
